@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
#header2-0 {
  
}
#header2-0 H1 {
  font-size: 80px;
}
#header2-0 P {
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
}
#header2-0 h1 {
  font-size: 4.2vw;
}
#msg-box4-109 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-109 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-109 .mbr-article {
  color: #ffffff;
}
#msg-box4-93 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-93 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-93 .mbr-article {
  color: #ffffff;
}
#msg-box4-77 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-77 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-77 .mbr-article {
  color: #ffffff;
}
#msg-box4-61 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-61 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-61 .mbr-article {
  color: #ffffff;
}
#footer1-659 P {
  color: #ffffff;
}
